body 
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: 
    linear-gradient(to right,
      rgba(orange, 0.15),
      rgba(orange, 0.25)),
    url('https://images.derstandard.at/img/2019/08/20/Elefant1.jpg?w=1600&s=7fbcf358') no-repeat center / cover;

h2, p
    text-align: center

.container
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px red
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(gray, 0.5);
    border-radius: 8px;
    border: solid 1px gray;
    overflow: hidden;
    background: white;
    padding:10px;

form
    display: grid
    grid-template-columns:auto
    grid-template-row:auto

input, button
    margin: 8px
    border-radius: 15px
